<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <div class="container">
      <div class="header"><h1>Calculator</h1></div>
      <div id="display"><div id="number"></div></div>
      <div id="buttons">
        <div id="lineone">
          <div id="btn-ac">AC</div>
          <div id="btn-c">C</div>
          <div id="btn-porcent">%</div>
          <div id="btn-division">/</div>
        </div>
        <div id="linetwo">
          <div id="btn-seven">7</div>
          <div id="btn-eight">8</div>
          <div id="btn-nine">9</div>
          <div id="btn-multiplication">X</div>
        </div>
        <div id="linethree">
          <div id="btn-four">4</div>
          <div id="btn-five">5</div>
          <div id="btn-six">6</div>
          <div id="btn-minus">-</div>
        </div>
        <div id="linefour">
          <div id="btn-one">1</div>
          <div id="btn-two">2</div>
          <div id="btn-three">3</div>
          <div id="btn-plus">+</div>
        </div>
        <div id="linefive">
          <div id="btn-zero">0</div>
          <div id="btn-dot">.</div>
          <div id="btn-equal">=</div>
        </div>
      </div>
    </div>

    <script src="../scripts/controller/calcController.js"></script>
    <script src="../scripts/calculator.js"></script>
  </body>
</html>
